Level 3

Task 2
Task: Customer Preference Analysis

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# load data
df = pd.read_csv('/content/sample_data/Dataset .csv')

# basic info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant ID         9551 non-null   int64
 1   Restaurant Name       9551 non-null   object
 2   Country Code          9551 non-null   int64
 3   City                  9551 non-null   object
 4   Address               9551 non-null   object
 5   Locality              9551 non-null   object
 6   Locality Verbose      9551 non-null   object
 7   Longitude             9551 non-null   float64
 8   Latitude              9551 non-null   float64
 9   Cuisines              9542 non-null   object
 10  Average Cost for two  9551 non-null   int64
 11  Currency              9551 non-null   object
 12  Has Table booking     9551 non-null   object
 13  Has Online delivery   9551 non-null   object
 14  Is delivering now     9551 non-null   object
 15  Switch to order menu  9551 non-null   object
 16  Price range           9551 non-null   int64
 17  Aggregate rating      9551 non-null   float64
 18  Rating color          9551 non-null   object
 19  Rating text           9551 non-null   object
 20  Votes                 9551 non-null   int64
dtypes: float64(3), int64(5), object(13)
memory usage: 1.5+ MB

In [ ]:
# drop missing values
df_cleaned = df.dropna(subset=['Cuisines']).copy()

# split and explode the Cuisines column
df_exploded = df_cleaned.assign(Cuisines=df_cleaned['Cuisines'].str.split(', ')).explode('Cuisines')

print(f"Original rows: {len(df)}")
print(f"Rows after explosion: {len(df_exploded)}")

# display first few rows of exploded data
df_exploded[['Restaurant Name','Cuisines','Aggregate rating','Votes']].head()

Original rows: 9551
Rows after explosion: 19710

          Restaurant Name  Cuisines  Aggregate rating  Votes
0        Le Petit Souffle    French               4.8    314
0        Le Petit Souffle  Japanese               4.8    314
0        Le Petit Souffle  Desserts               4.8    314
1        Izakaya Kikufuji  Japanese               4.5    591
2  Heat - Edsa Shangri-La   Seafood               4.4    270

1.Analyze the relationship between the type of
cuisine and the restaurant's rating.

In [ ]:
# calculate statistics for each Cuisine
cuisine_stats = df_exploded.groupby('Cuisines').agg({
    'Aggregate rating': 'mean',
    'Votes': 'sum',
    'Restaurant ID': 'count'
}).rename(columns={
    'Aggregate rating': 'Average Rating',
    'Votes': 'Total Votes',
    'Restaurant ID': 'Restaurant Count'
})

print("Cuisine Statistics calculated successfully.")

Cuisine Statistics calculated successfully.

2.Identify the most popular cuisines among
customers based on the number of votes.

In [ ]:
# sort by total votes
most_popular = cuisine_stats.sort_values(by='Total Votes', ascending=False).head(10)
print("Top 10 Most Popular Cuisines by Total Votes:")
print(most_popular[['Total Votes', 'Average Rating']])

Top 10 Most Popular Cuisines by Total Votes:
              Total Votes  Average Rating
Cuisines
North Indian       595981        2.510455
Chinese            364351        2.621024
Italian            329265        3.562042
Continental        288255        3.518750
Fast Food          184058        2.563092
American           183117        3.661538
Cafe               177568        3.321195
Mughlai            151946        2.609950
Desserts           105889        2.978867
Asian              104303        3.815021

3.Determine if there are any specific cuisines
that tend to receive higher ratings.

In [ ]:
# filter for cuisines with 10 restaurants and sort by rating
high_rated=cuisine_stats[cuisine_stats['Restaurant Count'] >= 10].sort_values(by='Average Rating', ascending=False).head(10)

print("Top 10 Cuisines with the Highest Average Ratings (Min 10 Restaurants):")
print(high_rated[['Average Rating', 'Restaurant Count']])

Top 10 Cuisines with the Highest Average Ratings (Min 10 Restaurants):
               Average Rating  Restaurant Count
Cuisines
Kebab                4.380000                10
Filipino             4.340000                10
Indonesian           4.285714                14
Modern Indian        4.281250                16
International        4.247619                21
Cajun                4.200000                10
Western              4.140000                10
Tapas                4.131579                19
Southern             4.129167                24
British              4.112500                16

Task 2 Successfully Completed