Level 3

Task 1

1.Build a regression model to predict the

aggregate rating of a restaurant based on

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

# load dataset
df = pd.read_csv('/content/sample_data/Dataset .csv')

In [ ]:
# drop rows with missing values in 'Cuisines'
df = df.dropna(subset=['Cuisines'])

In [ ]:
# number of cuisines offered
df['Cuisine_Count'] = df['Cuisines'].apply(lambda x: len(x.split(',')))

In [ ]:
# encode categorical binary features
binary_map = {'Yes':1, 'No':0}
df['Has Table booking'] = df['Has Table booking'].map(binary_map)
df['Has Online delivery'] = df['Has Online delivery'].map(binary_map)
df['Is delivering now'] = df['Is delivering now'].map(binary_map)

In [ ]:
# encode 'City' using label encoding
le = LabelEncoder()
df['City_Encoded'] = le.fit_transform(df['City'])

In [ ]:
# select features and target encoding
features = [
    'Country Code', 'City_Encoded', 'Longitude', 'Latitude',
    'Average Cost for two', 'Has Table booking', 'Has Online delivery',
    'Is delivering now', 'Price range', 'Votes', 'Cuisine_Count'
]
X = df[features]
y = df['Aggregate rating']

In [ ]:
from IPython.display import display

display(X.head())

,Country Code,City_Encoded,Longitude,Latitude,Average Cost for two,Has Table booking,Has Online delivery,Is delivering now,Price range,Votes,Cuisine_Count
0,162,73,121.027535,14.565443,1100,1,0,0,3,314,3
1,162,73,121.014101,14.553708,1200,1,0,0,3,591,1
2,162,75,121.056831,14.581404,4000,1,0,0,4,270,4
3,162,75,121.056475,14.585318,1500,0,0,0,4,365,2
4,162,75,121.057508,14.584450,1500,1,0,0,4,229,2

In [ ]:
display(y.head())

0    4.8
1    4.5
2    4.4
3    4.9
4    4.8
Name: Aggregate rating, dtype: float64

2.Split the dataset into training and testing sets and evaluate the model's performance using appropriate metrics.

In [ ]:
# splitting the dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
from IPython.display import display

display(X_train.head())

,Country Code,City_Encoded,Longitude,Latitude,Average Cost for two,Has Table booking,Has Online delivery,Is delivering now,Price range,Votes,Cuisine_Count
8177,1,88,77.353663,28.574219,450,0,0,0,1,6,1
6401,1,87,77.134360,28.671141,700,0,0,0,2,112,2
81,30,120,-46.746958,-23.609207,120,0,0,0,4,11,2
1332,1,50,77.086080,28.482318,300,0,0,0,1,0,1
9041,1,88,77.339801,28.586405,500,0,1,0,2,93,4

In [ ]:
display(X_test.head())

,Country Code,City_Encoded,Longitude,Latitude,Average Cost for two,Has Table booking,Has Online delivery,Is delivering now,Price range,Votes,Cuisine_Count
7142,1,87,0.000000,0.000000,150,0,0,0,1,2,2
1860,1,50,77.064227,28.467934,1500,0,0,0,3,105,2
4425,1,87,77.250660,28.543755,250,0,1,0,1,55,1
3219,1,87,77.230277,28.572796,1500,1,1,0,3,245,1
8308,1,88,77.331711,28.548867,200,0,0,0,1,0,2

In [ ]:
display(y_train.head())

8177    2.8
6401    3.2
81      4.1
1332    0.0
9041    3.4
Name: Aggregate rating, dtype: float64

In [ ]:
display(y_test.head())

7142    0.0
1860    4.1
4425    3.3
3219    3.9
8308    0.0
Name: Aggregate rating, dtype: float64

3.Experiment with different algorithms (e.g.,linear regression, decision trees, random forest) and compare their performance

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

# Dictionary to store results
results = {}

# 1. Linear Regression
lr = LinearRegression()
lr.fit(X_train, y_train)
lr_pred = lr.predict(X_test)
results['Linear Regression'] = {
    'MSE': mean_squared_error(y_test, lr_pred),
    'R2': r2_score(y_test, lr_pred)
}

# 2. Decision Tree
dt = DecisionTreeRegressor(random_state=42)
dt.fit(X_train, y_train)
dt_pred = dt.predict(X_test)
results['Decision Tree'] = {
    'MSE': mean_squared_error(y_test, dt_pred),
    'R2': r2_score(y_test, dt_pred)
}

# 3. Random Forest
rf = RandomForestRegressor(n_estimators=100, random_state=42)
rf.fit(X_train, y_train)
rf_pred = rf.predict(X_test)
results['Random Forest'] = {
    'MSE': mean_squared_error(y_test, rf_pred),
    'R2': r2_score(y_test, rf_pred)
}

In [ ]:
import pandas as pd
from IPython.display import display

results_df = pd.DataFrame(results).T # Transpose to have models as rows
display(results_df)

                        MSE        R2
Linear Regression  1.511202  0.340096
Decision Tree      0.173515  0.924230
Random Forest      0.094648  0.958669

Task 1 Successfully Executed